.gradle/
.gradle-home/
.android-home/
.kotlin-daemon/
.kotlin/
.idea/
local.properties
keystore.properties
**/build/
captures/
*.iml
*.keystore
*.jks
*.apk
*.aab
*.ap_
*.class
*.dex
*.log
Thumbs.db
Desktop.ini
_github_check/
